.button {
  display: inline-block;
  padding: 5px 15px;
  color: $clr_link;
  background: none;
  border-radius: 4px;
  transition: $transition;
  cursor: pointer;
  &:hover { color: $clr_linkHover; }
  &_ghost {
    border: 1px solid $clr_link;
    &:hover {
      color: $clr_linkHover;
      border-color: $clr_linkHover;
    }
  }
  &_solid {
    border: none;
    background: $clr_link;
    color: $clr_bkgd;
    border: 1px solid $clr_link;
    &:hover {
      color: $clr_bkgd;
      background: $clr_linkHover;
      border-color: $clr_linkHover;
    }
  }
  &:active {
    background-color: $clr_grey;
    color: $clr_bkgd;
    border-color: transparent;
  }
}

.ghost-button {
  display: inline-block;
  padding: 5px 15px;
  color: $clr_link;
  border: 1px solid $clr_link;
  border-radius: 4px;
  &:hover {
    color: $clr_linkHover;
    border-color: $clr_linkHover;
  }
}