// ------------------------------------------------------------------------
// block
.container {
  @include container();
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
  &_header-line {    
    display: flex;
    justify-content: space-between;
  }
  &_footer {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__line {
      padding: 5px 0;
    }
  }
}