// ------------------------------------------------------------------------
// block
.content-block {
  display: flex;
  flex-direction: column;
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
  &_register {
    flex-direction: row;
    @include vwMax(992px) { flex-direction: column; }
    &__text {
      margin-left: 15px;
    }
  }
}