// ------------------------------------------------------------------------
// block
.errors {
  font-size: 16px;
  color: #6e0505;
  display: grid;
  grid-template-columns: 100%;
  gap: 3px;
  margin: 10px 0 3px;
  // ------------------------------------------------------------------------
  // block elements
  &__item {
    padding: 3px 10px;
    display: block;
    background: linear-gradient(90deg, #eec7c7, #f1d8d2);
    border-radius: 4px;
  }

  // ------------------------------------------------------------------------
  // block modificators
}