// ------------------------------------------------------------------------
// block
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-shrink: 0;
  // ------------------------------------------------------------------------
  // block elements
  &__row {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    &_footer {
      align-items: center;
    }
  }
  &__errors ~ &__input {
    border-color: #b40808;
  }
  &__input {
    width: 100%;
    padding: 3px 10px;
    line-height: 1.2em;
    transition: $transition;
    border: 1px solid $clr_grey;
    border-radius: 4px;
    &::placeholder {
      font-size: 18px;
      color: $clr_grey;
    }
    &:hover { border-color: $clr_linkHover; }
    &:focus { border-color: $clr_linkHover; }
    &_area {
      padding: 5px 10px;
      line-height: 1.2em;
      height: calc(9em + 12px);
      resize: vertical;
    }
    &_smallarea {
      padding: 5px 10px;
      line-height: 1.2em;
      height: calc(3em + 12px);
      resize: vertical;
    }
    &_pw-create {
      border-radius: 4px 4px 0 0;
      border-bottom-color: transparent;
    }
    &_pw-confirm {
      border-radius: 0 0 4px 4px;
      border-top-color: transparent;
    }
  }

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.delete-form {
  // ------------------------------------------------------------------------
  // block elements
  &__submit {
    @include button();
    background: none;
    border: none;
    color: $clr_red;
    font: inherit;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: inherit;
    &:hover {
      color: $clr_redHover;
    }
    @include buttonActive();
  }
  // ------------------------------------------------------------------------
  // block modificators
}