// ------------------------------------------------------------------------
// block
.menu-wrapper {
  position: relative;
  height: 60px;
  background: $clr_menu;
  color: $clr_lightGrey;
  box-shadow: 0 0 5px $clr_darkGrey;
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.menu {
  @include container();
  height: 100%;
  display: flex;
  justify-content: center;
  // ------------------------------------------------------------------------
  // block elements
  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    color: inherit;
    text-transform: uppercase;
    &:hover {      
      background: adjust-color($color: $clr_menu, $saturation: -5%, $lightness: 5%);
    }
  }

  // ------------------------------------------------------------------------
  // block modificators
}