@mixin vwMax($_vwWidth) {
  @media (max-width: $_vwWidth) {
    @content;
  }
}

@mixin vwMin($_vwWidth) {
  @media (min-width: $_vwWidth) {
    @content;
  }
}

@mixin container() {  
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  @include vwMax(1230px) { width: 930px;}
  @include vwMax(992px) { width: calc(100% - 30px); }
}

@mixin titleBottomLine() {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: #1989d4df;
  }
}

@mixin hoverListItem() {
  border-radius: 4px;
  transition: $transition;
  &:hover {
    background: #ffffff;
    box-shadow: 0 0 8px #cdcdcd;
  }
}

@mixin button() {  
  display: inline-block;
  padding: 5px 15px;
  color: $clr_link;
  background: none;
  border-radius: 4px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    color: $clr_linkHover;
  }
}

@mixin buttonGhost() {
  border: 1px solid $clr_link;
  &:hover {
    color: $clr_linkHover;
    border-color: $clr_linkHover;
  }
}

@mixin buttonSolid() {
  border: none;
  background: $clr_link;
  color: $clr_bkgd;
  border: 1px solid $clr_link;
  &:hover {
    color: $clr_bkgd;
    background: $clr_linkHover;
    border-color: $clr_linkHover;
  }
}

@mixin buttonActive() {  
  &:active {
    background-color: $clr_grey;
    color: $clr_bkgd;
    border-color: transparent;
  }
}