// ------------------------------------------------------------------------
// block
.news-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  @include vwMax(1230px) { grid-template-columns: repeat(3, 1fr); }
  @include vwMax(767px) { grid-template-columns: repeat(2, 1fr); }
  @include vwMax(480px) { grid-template-columns: repeat(1, 1fr); }
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.news-block {
  @include hoverListItem();
  position: relative;
  padding: 0 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  // ------------------------------------------------------------------------
  // block elements
  &__link {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    text-align: center;
    line-height: 1.1em;
  }
  &__image {
    width: 100%;
    object-fit: contain;
  }
  &__text {
    font-size: 14px;
    text-align: justify;
    padding: 0 10px;
    & p { margin: 0; }
  }
  &__tag {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    background: $clr_lightGrey;
    font-size: 14px;
  }
  &__date {
    line-height: 18px;
    font-size: 12px;
  }
  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }

  // ------------------------------------------------------------------------
  // block modificators
  &_add {
    padding: 0;
    justify-self: center;
    margin: 20px auto;
  }
}

// ------------------------------------------------------------------------
// block
.news-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  // ------------------------------------------------------------------------
  // block elements
  &__item {
    @include hoverListItem();
    display: grid;
    grid-template-columns: 250px auto 1fr;
    align-items: center;
    justify-items: left;
    padding-right: 10px;
    margin-top: 10px;
  }
  &__link {
    display: block;
    padding: 10px 25px;
    &_action {
      padding: 3px 10px;
      font-size: 14px;
    }
  }

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.news-nav-links {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px;

  // ------------------------------------------------------------------------
  // block elements
  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__link {
    font-size: 15px;
    padding: 3px 12px;
  }

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.news-article {
  // ------------------------------------------------------------------------
  // block elements
  &__date {
    font-size: 16px;
  }
  
  &__categories,
  &__categories-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  &__categories {
    margin-right: 1em;
  }
  &__categories-link {
    @include hoverListItem();
    padding: 3px 10px;
    display: block;
    margin-left: 1em;
    border-radius: 5px;
  }

  &__categories-title {
    font-size: $font_size;
    margin: 10px 0;
  }

  // ------------------------------------------------------------------------
  // block modificators
}