// ------------------------------------------------------------------------
// block
.news-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  @include vwMax(1230px) { grid-template-columns: repeat(3, 1fr); }
  @include vwMax(767px) { grid-template-columns: repeat(2, 1fr); }
  @include vwMax(480px) { grid-template-columns: repeat(1, 1fr); }
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.news-block {
  position: relative;
  border-radius: 4px;
  transition: $transition;
  padding: 0 0 10px;
  &:hover {
    background: #ffffff;
    box-shadow: 0 0 8px #cdcdcd;
  }
  // ------------------------------------------------------------------------
  // block elements
  &__link {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    text-align: center;
    line-height: 1.1em;
  }
  &__image {
    width: 100%;
    object-fit: contain;
  }
  &__text {
    font-size: 14px;
    text-align: justify;
    padding: 0 10px;
    & p { margin: 0; }
  }
  &__tag {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    background: $clr_lightGrey;
    font-size: 14px;
  }

  // ------------------------------------------------------------------------
  // block modificators
  &_add {
    padding: 0;
    justify-self: center;
    margin: 20px auto;
  }
}

// ------------------------------------------------------------------------
// block
.news-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // ------------------------------------------------------------------------
  // block elements
  &__item {
    border-radius: 4px;
    transition: $transition;
    &:hover {
      background: #ffffff;
      box-shadow: 0 0 8px #cdcdcd;
    }
  }
  &__link {
    display: block;
    padding: 10px 25px;
  }
  &__link-add {
    color: $clr_green;
    border-color: $clr_green;
    padding: 9px 24px;
  }

  // ------------------------------------------------------------------------
  // block modificators
}