// ------------------------------------------------------------------------
// block
.page-header {
  font-size: 48px;
  text-align: center;
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.page-footer {
  background: #84a4be;
  margin-top: auto;
  padding: 15px 0 30px;
  color: $clr_bkgd;
  // ------------------------------------------------------------------------
  // block elements

  // ------------------------------------------------------------------------
  // block modificators
}