// ------------------------------------------------------------------------
// block
.structure-list {
  // ------------------------------------------------------------------------
  // block elements
  &__item {
    background: #f3ecde;
    padding: 7px 15px;
    &:nth-child(odd) {
      background: #f5f3e6;
    }
  }

  // ------------------------------------------------------------------------
  // block modificators
}

// ------------------------------------------------------------------------
// block
.structure-list-article {
  // ------------------------------------------------------------------------
  // block elements
  &__title {
    font-size: 1em;
    margin: 8px 0;
  }
  &__description {
    margin: 8px 0;
  }

  // ------------------------------------------------------------------------
  // block modificators
}