// ------------------------------------------------------------------------
// fonts
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap');
//font-family: 'Source Code Pro', monospace;

// ------------------------------------------------------------------------
// settings
$font_size: 20px;
$transition: all .15s ease-out;

// ------------------------------------------------------------------------
// colors
$clr_text: #545454;
$clr_darkGrey: #707e74;
$clr_grey: #b1c3b6;
$clr_lightGrey: #e1e7e9;
$clr_green: #21c72f;

// ------------------------------------------------------------------------
// elements
$clr_bkgd: #f7f7f7;
$clr_menu: #4e455c;
$clr_footer: #657f94;
$clr_link: #317ebd;
$clr_linkHover: #e0b320;
$clr_red: #aa1f0c;
$clr_redHover: #db432f;

// ------------------------------------------------------------------------
// sass mixins
@import 'blocks/mixins';

// ------------------------------------------------------------------------
// main document elements styles
@import 'blocks/html';

// ------------------------------------------------------------------------
// BEM files
@import 'blocks/page';
@import 'blocks/container';
@import 'blocks/errors';
@import 'blocks/button';
@import 'blocks/form';
@import 'blocks/menu';
@import 'blocks/news';
@import 'blocks/user-bar';
@import 'blocks/flexbox';
@import 'blocks/content';
@import 'blocks/block';
@import 'blocks/feedbacks';
@import 'blocks/select-box';

// ------------------------------------------------------------------------
// overrides and others
@import 'blocks/other';